.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__form {
    margin: 164px auto;
    width: 300px;
    height: -moz-fit-content;;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__input__name, .home__input__inn {
    width: 300px;
    height: 48px;
    background: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    padding-left: 18px;
    box-sizing: border-box;
}

.home__Form input::placeholder {
    color: var(--gray-color)
}

.home__Form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__input__error {
    border: 1px solid #FFAB2E;
}

.error-message {
    width: fit-content;
    color: var(--error-silver);
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.error-message {
    width: fit-content;
}

.home__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--second-color);
    border: none;
    color: var(--link-color);
    font-size: 22px;
    letter-spacing: 5%;
    cursor: pointer;
    transition: 0.2s linear;
}

.home__submit:hover {
    background-color: var(--second-color-hover);
}

.home__upload {
    width: 300px;
    height: 48px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: none;
    margin-bottom: 34px;
    box-sizing: border-box;
    color: var(--second-color);
    border: 1px solid #A6A4F4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s linear;
}

.home__upload:hover {
    color: var(--second-color-hover);
    border: 1px solid var(--second-color-hover);
}

.home__upload__error {
    border: 1px solid #FFAB2E;
    color: #FFAB2E;
}