:root {
    --background: #E5E5E5;
    --second-color: #7270FF;
    --link-color: #FFFFFF;
    --border-bottom: #FFAB2E;
    --gray-color: #A6A6A6;
}

@font-face {
    font-family: 'Mon';
    src: url(../assets/Montserrat-Medium.ttf);
}